footer{
    text-align: center;
    font-size: 12px;
    padding: 1.5rem;
    box-shadow:0 0px 20px var(--grey) inset;
    line-height: 12px;
    img{
        width: 50px;
        margin-bottom: .5rem;
    }
}