section#SearchBox {
    direction: rtl;
    .search-box {
        display: flex;
        justify-content: space-between;
        border: 6px solid var(--lightgrey);
        background-color: #fff;
        border-radius: 50px;
        transition: .1s ease;
        width: 50%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        input,
        button {
            border: 0;
            outline: none;
        }
        select {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            background: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-left: 1px solid var(--lightgrey);
            padding: 0 1rem 0 2rem;
            color: var(--black);
        }
        select + i {
            transform: translateX(23px);
            display: flex;
            align-items: center;
            color: var(--black);
            font-size: 12px;
        }
        input {
            background-color: transparent;
            padding: 0 12px 0 2rem;
            color: var(--blue);
            width: calc(100% - 185px);
            &:placeholder-shown {
                color: var(--darkgrey);
            }
        }
        button {
            background-color: var(--blue);
            width: 50px;
            height: 50px;
            display: grid;
            place-items: center;
            border-radius: 25px;
            box-shadow: 0 0 10px #5b53ff7d;
            transition: margin .2s ease, transform .1s ease;
            cursor: pointer;
            transition: .2s;
            img {
                filter: invert(1);
            }
            &:active img {
                animation: searchSpinner 1s linear forwards infinite;
            }
            &:hover {
                background-color: var(--brightblue);
            }
        }
        &:focus-within {
            border-right-color: var(--blue);
            button {
                &:focus {
                    transform: scale(.9);
                }
            }
        }
    }
}

section#Project_Details {
    display: grid;
    grid-template-columns: 70ch 1fr;
    grid-gap: 1rem;
    direction: rtl;
    margin-bottom: 3rem;
    margin-top: 3rem;
    align-items: flex-start;
    main {
        border-radius: var(--radius);
        box-shadow: 0 0 10px var(--grey);
        padding: 2rem;
        color: var(--black);
        > h1 {
            margin-bottom: 1rem;
        }
        .categories {
            display: flex;
            margin-bottom: 1.5rem;
            li a {
                border: 1px solid var(--lightgrey);
                border-radius: var(--radius);
                padding: .2rem .5rem;
                margin-left: .5rem;
                background-color: var(--lightgrey);
                transition: .5s;
                font-size: 12px;
                &.main {
                    background-color: var(--grey);
                }
                &:hover {
                    border-color: var(--blue);
                    background-color: var(--white);
                    font-size: 14px;
                }
            }
        }
        > p {
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 2rem;
        }
        .attachments {
            display: flex;
            a {
                display: flex;
                align-items: center;
                margin-left: .5rem;
                padding: .2rem .5rem;
                border: 1px dashed var(--darkgrey);
                border-radius: var(--radius);
                i {
                    margin-left: .5rem;
                }
                &:hover {
                    border-color: var(--blue);
                }
            }
        }
    }
    aside {
        // border-radius: var(--radius);
        // box-shadow: 0 0 10px var(--grey);
        padding: 2rem 2rem 0;
        .details {
            display: flex;
            flex-direction: column;
            color: var(--black);
            .price {
                font-size: 22px;
                font-weight: 900;
                margin-bottom: .3rem;
                text-align: center;
            }
            button {
                background-color: var(--blue);
                color: white;
                border: none;
                border-radius: var(--radius);
                padding: 1rem;
                cursor: pointer;
                transition: .2s;
                font-weight: 600;
                font-size: 14px;
                span {
                    font-weight: 100;
                    font-size: 12px;
                }
                &:hover {
                    box-shadow: 0 0 10px var(--blue-shadow), 0 10px 20px var(--blue-shadow);
                    background-color: var(--brightblue);
                }
            }
            .forceTime {
                text-align: right;
                font-size: 12px;
                margin-top: .5rem;
                // font-weight: 600;
                i {
                    margin-left: .2rem;
                    color: var(--orange);
                }
            }
        }
        .related {
            margin-top: 2rem;
            > span {
                color: var(--black);
                font-size: 12px;
                // font-weight: 900;
            }
            .project {
                width: 100%;
                border-radius: var(--radius);
                // box-shadow: 0 0 10px var(--grey);
                border: 1px solid var(--lightgrey);
                padding: 1rem;
                color: var(--black);
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2 {
                    font-size: 12px;
                    font-weight: 100;
                    width: 37ch;
                    overflow: hidden;
                }
                span {
                    color: var(--darkgrey);
                }
                &:hover {
                    color: var(--blue);
                    box-shadow: 0 0 10px var(--grey), 0 0 20px var(--lightgrey);
                    span {
                        color: var(--blue);
                    }
                }
            }
        }
        .employer-box {
            margin-top: 2rem;
            .options {
                padding: 1rem 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: var(--radius);
                border: 1px solid var(--lightgrey);
                color: var(--black);
                .item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    text-align: center;
                    padding: .3rem 0;
                    font-size: 14px;
                    .label {
                        font-weight: 900;
                    }
                    .file {
                        background: var(--orange);
                        padding: 0 1rem;
                        color: white;
                        border-radius: var(--radius);
                    }
                    &:not(:last-of-type) {
                        border-bottom: 1px solid var(--lightgrey);
                    }
                }
            }
            .actions {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: .5rem;
                .edit,
                .delete {
                    font-size: 12px;
                    cursor: pointer;
                    transition: .2s ease;
                    margin-bottom: .5rem;
					color: var(--black);
					i{
						font-size:10px;
					}
                    &:hover {
                        color: var(--blue);
                    }
                    &.delete {
                        padding-right: .5rem;
                        margin-right: .5rem;
                        border-right: 1px solid var(--lightgrey);
                        &:hover {
                            color: rgb(241, 67, 67);
                        }
                    }
                }
            }
        }
    }
}
