section#SearchBox {
    direction: rtl;
    .search-box {
        display: flex;
        justify-content: space-between;
        border: 6px solid var(--lightgrey);
        background-color: #fff;
        border-radius: 50px;
        transition: .1s ease;
        width: 50%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        input,
        button {
            border: 0;
            outline: none;
        }
        select{
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            background:none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-left: 1px solid var(--lightgrey);
            padding:0 1rem 0 2rem;
            color: var(--black);
        }
        select + i{
            transform: translateX(23px);
            display: flex;
            align-items: center;
            color: var(--black);
            font-size:12px
        }
        input {
            background-color: transparent;
            padding: 0 12px 0 2rem;
            color: var(--blue);
            width: calc(100% - 185px);
            &:placeholder-shown {
                color: var(--darkgrey);
            }
        }
        button {
            background-color: var(--blue);
            width: 50px;
            height: 50px;
            display: grid;
            place-items: center;
            border-radius: 25px;
            box-shadow: 0 0 10px #5b53ff7d;
            transition: margin .2s ease, transform .1s ease;
            cursor: pointer;
            img {
                filter: invert(1);
            }
            &:active img {
                animation: searchSpinner 1s linear forwards infinite;
            }
        }
        &:focus-within {
            border-right-color: var(--blue);
            button {
                &:hover {
                    transform: scale(.9);
                }
            }
        }
    }
}

section#Categories {
    direction: rtl;
    margin-bottom: 3rem;
    h2 {
        color: var(--darkgrey);
        font-size: 20px;
        margin-bottom: .5em;
    }
    .categories {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
        .category {
            height: 100px;
            position: relative;
            display: grid;
            place-items: center;
            color: white;
            font-weight: 900;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            &:after {
                content: '';
                border-radius: 10px;
                background-color: #0005;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: .2s ease;
            }
            &:hover:after {
                background-color: var(--blue-shadow);
            }
        }
    }
}

section#Projects {
    direction: rtl;
    margin-bottom: 5rem;
    .project-list {
        column-count: 2;
        .project-item {
            display: inline-block;
            width: 100%;
            background-color: var(--grey);
            background-color: #fff;
            border-radius: 10px;
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            box-shadow: 0 0 10px var(--grey);
            color: var(--black);
            transition: .2s;
            h3 {
                margin-bottom: 2rem;
                font-size: 18px;
            }
            p {
                font-size: 12px;
                text-align: left;
                span {
                    background-color: #fff;
                    padding: .2rem .5rem;
                    border-radius: 10px;
                    border: 1px solid var(--grey);
                    transition: .2s ease;
                    i {
                        color: var(--orange);
                        margin-left: .2rem;
                        transition: .2s;
                    }
                    &:not(:last-of-type) {
                        margin-left: 1rem;
                    }
                    &:hover {
                        background-color: var(--grey);
                        i{
                            color: var(--blue);
                        }
                    }
                }
            }
            &:hover {
                color: var(--blue);
                box-shadow: 0 0px 10px var(--grey), 0 5px 10px var(--grey);
            }
        }
    }
}
